{% extends "RizzaCalendarBundle::layout.html.twig" %}
{% block rizza_calendar_content %}
<h2>Edit &quot;{{ calendar.getName() }}&quot;</h2>
<form action="{{ path(rizza_calendar_route('calendar', 'edit'), { 'id': calendar.getId() }) }}" {{ form_enctype(form) }} method="POST">
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_rest(form) }}

    <input type="submit" value="Edit Calendar" />
</form>
{% endblock rizza_calendar_content %}