{% extends "RizzaCalendarBundle::layout.html.twig" %}
{% block rizza_calendar_content %}
<form action="{{ path(rizza_calendar_route('attendee', 'add'), {"eventId": event.getId()}) }}" {{ form_enctype(form) }} method="POST">
    <p>Adding attendee for event {{ event.getTitle() }}. Riveting.</p>
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <input type="submit" value="Create Attendee" />
</form>
{% endblock rizza_calendar_content %}