{% extends "RizzaCalendarBundle::layout.html.twig" %}
{% block content %}
<form action="{{ path(rizza_calendar_route('event', 'add'), {"calendarId": calendar.getId()}) }}" {{ form_enctype(form) }} method="POST">
    <p>Adding event for calendar {{ calendar.getName() }}. Riveting.</p>
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <input type="submit" value="Create Event" />
</form>
{% endblock content %}