{% extends "RizzaCalendarBundle::layout.html.twig" %}
{% block content %}
<h2>Edit &quot;{{ event.getTitle() }}&quot;</h2>
<form action="{{ path(rizza_calendar_route('event', 'edit'), { 'id': event.getId() }) }}" {{ form_enctype(form) }} method="POST">
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <input type="submit" value="Edit Event" />
</form>
{% endblock content %}